.navigation {
    width: 100%;
    margin: 50px auto 10px;
    border-bottom: 2px solid hsl(240, 35%, 47%);
}

.navigation__list {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    padding-bottom: 5px;
    list-style: none;
}

@media (max-width: 767px) {
    .navigation__list {
        flex-direction: column;
    }
}

.navigation__item {
    margin: 5px;
}

.navigation__link {
    font-size: 20px;
    color: hsl(240, 35%, 47%);
    text-decoration: none;
    padding: 10px;
}

.navigation__link:hover {
    background-color: white;
    color: hsl(240, 35%, 63%);
    border-radius: 10px;
}

.navigation__link:active {
    color: hsl(240, 35%, 73%);
}