.section {
    padding: 10px 0;
}

.section__header {
    padding: 15px 20px;
    color: hsl(240, 35%, 47%);
    font-weight: normal;
}

.section__image {
    width: 100%;
    max-width: 130px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px #ddd;
}

.section__subheader {
    text-align: left;
    color: hsl(240, 35%, 47%);
    font-weight: normal;
}

.section__paragraph {
    padding: 10px 0;
    line-height: 1.5;
    text-align: justify;
}

.section__foreign {
    font-style: normal;
}

.section__link {
    color: #1e85a5;
    text-decoration: none;
}

.section__link:hover {
    border-bottom: 1px solid;
}

.section__link--biggerLetters {
    font-size: 20px;
}

.section__contactButton {
    margin: 50px 0 30px;
    padding: 20px 30px;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    background-color: #4242c7;
    color: #eee;
    border: none;
    cursor: pointer;
}

.section__contactButton:hover {
    background-color: #5555cf;
    color: #fff
}

.section__contactData {
    font-weight: bold;
    opacity: 0;
}

.section__contactData--show {
    opacity: 1;
}

.section__tableContainer {
    overflow-x: auto;
}